.noteItem {
    border: 1px solid lightgrey;
    background-color: aqua;
    border-radius: 10px;
    padding: 10px;
    padding-top: 10px;
    box-shadow: 2px 2px 2px grey;
    transition: 0.3s;
    break-inside: avoid;
    position: relative;
    cursor: pointer;
}

.noteItem:hover {
    filter: grayscale(80%);
}

.noteTitle,
.noteText {
    word-wrap: break-word;
}

.searchString {
    background-color: orange;
}

.buttonsContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.button {
    height: 35px;
    width: 35px;
    cursor: pointer;
    border: 0;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

.button:hover {
    background-color: grey;
}

.btnIcon {
    height: 25px;
    width: 25px;
}